
.rightDesc{
    margin-right: 20px
}
.rightDesc .firstDesc img , .rightDesc .secondDesc img {
    width: 50px;
}
.rightDesc .firstDesc , .leftDesc .firstDesc{
    margin-bottom: 20px
}
.rightDesc .firstDesc .firsInfoItem , .leftDesc .firstDesc .firsInfoItem {
    display: inline-block;
    background: #707070;
    color: white;
    border-radius: 5px;
    padding: 20px 5px 20px 10px;
    margin-right: 15px
}
.rightDesc .secondDesc .secInfoItem {
    display: inline-block;
    background: #b9475e;
    color: #fff;
    border-radius: 10px;
    padding: 20px 5px 20px 10px;
    margin-right: 15px;
    margin-bottom: 20px;
}
.thirdDesc{
    width: 70%;
    margin-left: auto;
}
.thirdDesc .thirdInfoItem{
    background:  black;
    color: #fff;
    border-radius: 5px;
    padding: 20px 5px 20px 10px;
    text-align: left;
    margin-bottom: 25px;

}
.leftDesc .firstDesc img{
    width: 40px;
    margin-right: 10px
}
.forfloat{
    padding-top: 50px;
    padding-bottom: 50px
}
.leftDesc .firstDesc .firsInfoItem{
    width: 60%;
    text-align: left
}
.fourthDesc{
    width: 60%;
    float:right;
    margin-right: 20px;
    margin-bottom: 20px
}
.fifthDesc{
    position: fixed;
    left: 15px;
    top: 350px;
}
.fifthDesc ul li img{
    width: 80px
}

.fourthpart{
    width: 80%;
    float: right;
    text-align: right;
    margin-right: 20px
}
.fourthpart img{
    width: 50px;
    float: right
}
.clear{
    clear: both;
}
.fourthpart .fourthInfoItem{
    display: inline-block;
    background: #b9475e;
    color: #fff;
    border-radius: 10px;
    padding: 20px 20px 20px 10px;
    margin-right: 15px;
    width: 80%
}
.rightDesc .firstDesc img , .rightDesc .secondDesc img {
    width: 50px;
}
.complain{
    padding: 40px 20px 40px 20px;
    height: 400px;
    overflow-y: scroll
}
.date{
    padding: 40px 0px
}
.date p{
    color: #808080;
    font-weight: bold;
    font-size: 15px
}
.rightSide{
    background: #4a2866;
    width: 60%;
    color: #fff;
    font-weight: bold;
    border-radius: 5px;
    line-height: 60px
}
.rightSide p{
    padding-right: 20px
}
.firstImg{
    margin-left: 30px;
    margin-bottom: 20px
}
.firstImg , .secImg{
    width: 330px
}
.complain .leftDesc{
    margin-top: 20px
}
.complain .fourthpart .fourthInfoItem{
    width: 60%
}
.one{
    display: block;


}
.tow{
    display: none
}


.footer{
    background: #4a2866;
    height: auto
}
.footer form{
    width: 100%;
    padding: 20px
}
.footer form input{
    width: 90%;
    height: 80px;
    border-radius: 5px;
    border: none;
    padding-right: 20px
}
.footer form button{
    background: rgba(0,0,0,0);
    border: none;
    color: #fff;
    padding: 27px;
    cursor: pointer;
    font-size: 15px;
}


@media (max-width:  768px)/*for small screen*/
{
    /* .collapse{
         display: block
     }*/
    .footer form input{
        margin-top: 7px;
    }
    .navbar-nav .nav-link{
        padding: 0;
        display: inline-block
    }
    .navbar-nav .nav-item{
        margin: 0
    }
    .info{
        text-align: center;
        margin: 25px 0px
    }
    .imgreceipt{
        margin: 20px 0px 20px
    }
    .rightDesc .secondDesc .secInfoItem{

        width: 61%;
        height: 60px;
        padding: 3px 5px 40px 10px;
    }
    .fourthpart .fourthInfoItem{
        height: 100px;
        width: 67%;
    }

    .rightDesc .secondDesc img{
        float: right
    }
    .forfloat{
        padding-top: 40px
    }
    .footer form button{
        padding: 0px 2px 0px
    }
    @media (max-width: 576px){
        /*.collapse{
            display: none
        }*/
        .navbar .row{
            width: auto
        }
        .rightDesc .firstDesc .firsInfoItem{
            width: 60%;
            padding: 3px 5px 14px 10px;
        }
        .rightDesc .firstDesc img{
            margin-bottom: 30px
        }
        .navbar-expand-sm>.container{
            flex-wrap: wrap !important;
        }
        .infoBtn {
            padding: 0
        }
        .fifthDesc ul li img{
            width: 56px
        }
        .fourthpart .fourthInfoItem{
            padding: 8px 12px 40px 10px;
            margin-right: 5px;
        }
        .fourthpart{
            margin-right: 8px;
        }
        .fourthpart img{
            width: 35px
        }
        .calendarlist{
            padding: 0
        }
    }
    @media (min-width: 576px){
        .navbar-expand-sm>.container{
            flex-wrap: wrap ;
        }
        .infoBtn {
            padding: 0
        }

    }
}


@media (max-width: 575.98px) {
    ul.list-unstyled.infoBtn {
        text-align: center;
    }
    .col-md-4.align-self-center {
        width: auto;
    }
    .info-img{
        width: auto;
    }
    .col-md-1.imgreceipt {
        width: 50px;
    }
    .star_container {
        width: 20px;}
    .col-md-1.imgreceipt img {
        max-width: 50px;
    }
    .footer form input{
        margin-top: 7px;
    }
    .thirdDesc{
        width: 70%
    }
    .leftDesc .firstDesc .firsInfoItem{
        width: 70%
    }
    .fourthpart .fourthInfoItem{
        width: 80%
    }
}



.mainsection button{
    text-align: left;

}
.modal .img-fluid{
    background-color: transparent!important;
}
.message .massage-title{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.message .massage-title p{
    margin-bottom: 0px;

}
.message .message-input{
    background-color: black;
    text-align: center!important;
    position: absolute;bottom: 0;width: 30%
}
.message-input form{
    width: 100%;
    padding: 20px;
    height: 100%;
}
.message-input form input{
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: none;
    padding-right: 20px;
    padding: 10px;
}
.message-input form button{
    background: rgba(0,0,0,0);
    border: none;
    color: #fff;
    padding: 5px;
    cursor: pointer;
    font-size: 15px;
}
@media (max-width: 575.98px) {
    .message .message-input{
        width: 60%
    }
}
@media (max-width: 767.98px) {
    .message .message-input{
        width: 60%
    }
}
@media (max-width: 991.98px) {
    .message .message-input{
        width: 60%
    }
}









